h1 { font-size: 30px; font-weight: bold; font-family: ProximaNovaBold; margin: 15px 0px 15px 0px; color: #3F3F3F;
	transition: color 0.5s ease-out;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;}
h2 { font-size: 18px; font-family: ProximaNovaBold; color: #303134; }

@font-face { font-family: ProximaNova; src: url(ProximaNova-Regular.ttf); }
@font-face { font-family: ProximaNovaBold; src: url(ProximaNova-Semibold.ttf); }


html, body {
	margin: 0;
	padding: 0; 
	font-family: ProximaNova, 'Helvetica Neue';
	font-size: 14px;
	line-height: 17px;
	color: #303134;
	background: #EEE;
	overflow-y: scroll;
}

a img {
	border: 0px;
}
a:link, a:visited {
	color: #3F3F3F; text-decoration: none; transition: 0.15s ease-in-out; padding: 3px 2px;
	transition: color 0.5s ease-out;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
}
a:hover {
	color: #303134;
	padding: 3px 2px;
}
a:active {
	color: #333;
}

#home-button {
	position: absolute;
	top: 50px;
	left: 445px;
	opacity: 0;
	z-index: 5;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
	transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	-webkit-transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	-moz-transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	-o-transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	-ms-transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	background-image: url('../images/small-house.png');
	background-size: 25px 25px;
	background-position: 18px 17px;
	background-repeat: no-repeat;
	width: 60px;
	visibility: hidden;
	background-color: #FDFDFD;
	transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
}
#home-button.visible {
	visibility: visible;
	opacity: 0;
	-webkit-animation: fadeinHomeButton 0.45s ease-in-out forwards;
	-moz-animation: fadeinHomeButton 0.45s ease-in-out forwards;
	-o-animation: fadeinHomeButton 0.45s ease-in-out forwards;
	-ms-animation: fadeinHomeButton 0.45s ease-in-out forwards;
	animation: fadeinHomeButton 0.45s ease-in-out forwards;
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
#home-button:hover {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
#home-button:active {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
	cursor: pointer;
	background-color: #DBDBDB;
}

@-webkit-keyframes fadeinHomeButton {
	0%		{ transform: scale(0); opacity: 0;}
	70%		{ transform: scale(1.1); opacity: 1;}
	100%	{ transform: scale(1.0); opacity: 1;}
}
@-moz-keyframes fadeinHomeButton {
	0%		{ transform: scale(0); opacity: 0;}
	70%		{ transform: scale(1.1); opacity: 1;}
	100%	{ transform: scale(1.0); opacity: 1;}
}
@-o-keyframes fadeinHomeButton {
	0%		{ transform: scale(0); opacity: 0;}
	70%		{ transform: scale(1.1); opacity: 1;}
	100%	{ transform: scale(1.0); opacity: 1;}
}
@-ms-keyframes fadeinHomeButton {
	0%		{ transform: scale(0); opacity: 0;}
	70%		{ transform: scale(1.1); opacity: 1;}
	100%	{ transform: scale(1.0); opacity: 1;}
}

#backbutton {
	margin-left: 22px;
	margin-top: 18px;
	border-top: 15px solid rgba(0, 0, 0, 0.50);
	border-right: 15px solid transparent;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/* ---  Oben Header  --- */
#header {
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 10;
	background: #3F3F3F;
	transition: background 0.5s ease-out;
	-webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	-ms-transition: background 0.5s ease-out;
}
#header-container{
	width: 800px;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	height: 80px;
	position: absolute;
	z-index: 1;
	left: 50%;
}
#mail-button {
	position: absolute;
	top: 50px;
	left: 1400px;
	opacity: 0;
	z-index: 5;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
	transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	-webkit-transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	-moz-transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	-o-transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	-ms-transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
	background-image: url('../images/mail.png');
	background-size: 25px 25px;
	background-position: 18px 17px;
	background-repeat: no-repeat;
	width: 60px;
	visibility: hidden;
	background-color: #FDFDFD;
	transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
}
#mail-button.visible {
	visibility: visible;
	opacity: 0;
	-webkit-animation: fadeinHomeButton 0.45s ease-in-out 0.5s forwards;
	-moz-animation: fadeinHomeButton 0.45s ease-in-out 0.5s forwards;
	-o-animation: fadeinHomeButton 0.45s ease-in-out 0.5s forwards;
	-ms-animation: fadeinHomeButton 0.45s ease-in-out 0.5s forwards;
	animation: fadeinHomeButton 0.45s ease-in-out 0.5s forwards;
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
#mail-button:hover {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
#mail-button:active {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
	cursor: pointer;
	background-color: #DBDBDB;
}

#top_text {
	font-family: ProximaNovaBold, 'Helvetica Neue';
	font-size: 40px;
	width: auto;
	-webkit-animation: fadeinTopText 1s ease-in-out 0.25s forwards;
	-moz-animation: fadeinTopText 1s ease-in-out 0.25s forwards;
	-o-animation: fadeinTopText 1s ease-in-out 0.25s forwards;
	-ms-animation: fadeinTopText 1s ease-in-out 0.25s forwards;
	line-height: 80px;
	z-index: 2;
	position: absolute;
	opacity: 0;
	color: #FFF;
	right: 0px;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
@-webkit-keyframes fadeinTopText {
	  0%	{ transform-origin: 50% 50%; transform: scale(0); opacity: 0;}
	 50%	{ transform: scale(1.05); opacity: 1;}
	100%	{ transform: scale(1); opacity: 1;}
}
@-moz-keyframes fadeinTopText {
	  0%	{ transform-origin: 50% 50%; transform: scale(0) translate(80px,0); opacity: 0;}
	 50%	{ transform: scale(1.05) translate(80px,0); opacity: 1;}
	100%	{ transform: scale(1) translate(0,0); opacity: 1;}
}
@-o-keyframes fadeinTopText {
	  0%	{ transform-origin: 50% 50%; transform: scale(0) translate(80px,0); opacity: 0;}
	 50%	{ transform: scale(1.05) translate(80px,0); opacity: 1;}
	100%	{ transform: scale(1) translate(0,0); opacity: 1;}
}
@-ms-keyframes fadeinTopText {
	  0%	{ transform-origin: 50% 50%; transform: scale(0) translate(80px,0); opacity: 0;}
	 50%	{ transform: scale(1.05) translate(80px,0); opacity: 1;}
	100%	{ transform: scale(1) translate(0,0); opacity: 1;}
}

#content-wrapper{
	overflow: hidden;
}

#home {
	position: absolute; 
	margin-left: 50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	display: block;
	top: 70px;
	padding: 20px;
}
#home-content {
	opacity: 0;
	visibility: hidden;
	/*display: none;*/
	z-index: -1;
	height: 0;
	overflow: hidden;
}
#home-content.visible {
	height: auto;
	-webkit-animation: fadeinHome 0.25s ease-in-out 0.35s forwards;
	-moz-animation: fadeinHome 0.25s ease-in-out 0.35s forwards;
	-o-animation: fadeinHome 0.25s ease-in-out 0.35s forwards;
	-ms-animation: fadeinHome 0.25s ease-in-out 0.35s forwards;
	animation: fadeinHome 0.25s ease-in-out 0.35s forwards;
	visibility: visible;
}

@-webkit-keyframes fadeinHome {
	0%		{ display: none; opacity: 0; visibility: hidden;}
	1%		{ display: block; opacity: 0;  visibility: visible;}
	100%	{ opacity: 1; }
}
@-moz-keyframes fadeinHome {
	0%		{ display: none; opacity: 0;}
	1%		{ display: block; opacity: 0; }
	100%	{ opacity: 1; }
}
@-o-keyframes fadeinHome {
	0%		{ display: none; opacity: 0;}
	1%		{ display: block; opacity: 0; }
	100%	{ opacity: 1; }
}
@-ms-keyframes fadeinHome {
	0%		{ display: none; opacity: 0;}
	1%		{ display: block; opacity: 0; }
	100%	{ opacity: 1; }
}

.content {
	position: absolute;
	top: 80px;
	background: #FFF;
	padding: 20px;
	background: #FFF;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	width: 800px;
	/*display: none;*/
	max-height: 0;
	height: auto;
	visibility: hidden;
	opacity: 0;
	right: 0;
	left: 0;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	transform: translate(0,0px);
	-webkit-transform: translate(0,0px);
	overflow: hidden;
	margin: auto;
	margin-bottom: 20px;
	z-index: -1;
}
.content.active {
	max-height: 99999px;
	/*display: inline-block;*/
	visibility: visible;
	opacity: 1;
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
}
.content p{
	display: inline-block;
	width: 100%;
}
.content.grafiken a:hover, .content.grafiken a{
	background: transparent;
	padding: 0;
}
.column img {
	border-bottom: 1px solid #CCC;
	margin-left: -10px;
	margin-top: -10px;
}

.column {
	-webkit-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	-ms-transition: all 0.2s ease-out 0s;
	width: 236px;
	height: 322px;
	margin-top: 10px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
	padding: 10px;
	position: relative;
	float: left;
	background: #FFF;
	cursor: pointer;
	border-radius: 2px;
	margin-bottom: 10px;
}

.column.left {
	margin-right: 14px;
	margin-left: 2px;
}
.column.right {
	margin-left: 14px;
}


.column:hover {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
.column:active {
	background: #DBDBDB;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.inhalt {
	position: absolute;
	background: white;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.item {
	position: relative;
	float: left;
	margin-left: 6px;
	margin-right: 6px; 
	margin-top: 20px;
	-webkit-transition: box-shadow 0.2s ease-out 0s;
	transition: box-shadow 0.2s ease-out 0s;
	-moz-transition: box-shadow 0.2s ease-out 0s;
	-o-transition: box-shadow 0.2s ease-out 0s;
	-ms-transition: box-shadow 0.2s ease-out 0s;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 0px;
}

.doc {
	font-family: ProximaNovaBold, 'Helvetica Neue';
	font-size: 25px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 30px;
	margin-top: 20px;
	position: relative;
	-webkit-transition: box-shadow 0.2s ease-out 0s;
	transition: box-shadow 0.2s ease-out 0s;
	-moz-transition: box-shadow 0.2s ease-out 0s;
	-o-transition: box-shadow 0.2s ease-out 0s;
	-ms-transition: box-shadow 0.2s ease-out 0s;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	float: left;
	display: inline-block;	
}
.doc a{
	background: #FFF;
	padding: 20px;
	display: inline-block;
}
.doc a:hover{
	background: #FFF;
	color: #3F3F3F;
}
.doc a:active{
	background: #DBDBDB;
}

.item:hover, .doc:hover {
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}


/* ---  All together  --- */
.hidden {
	display: none;
}

.hide {
	display: none;
}

/* ---  Royal-Slider  --- */

.active .royalSlider {
	animation: fadeinS 0.3s ease-out 0.2s 1 forwards;
	-webkit-animation: fadeinS 0.3s ease-out 0.2s 1 forwards;
	-moz-animation: fadeinS 0.3s ease-out 0.2s 1 forwards;
	-o-animation: fadeinS 0.3s ease-out 0.2s 1 forwards;
	-ms-animation: fadeinS 0.3s ease-out 0.2s 1 forwards;
}

.royalSlider {
	position: relative;
	opacity: 1;
	width: 800px;
	height: 374px;
	direction: ltr;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}


.rsArrowLeft, .rsArrowRight {
	transition: all 0.2s ease-out-out 0s;
	-webkit-transition: all 0.2s ease-out-out 0s;
	-moz-transition: all 0.2s ease-out-out 0s;
	-o-transition: all 0.2s ease-out-out 0s;
	-ms-transition: all 0.2s ease-out-out 0s;
}

.rsArrowLeft { margin-left: -10px; }
.rsArrowRight { margin-right: -10px; }
.rsDefault:hover .rsArrowLeft { margin-left: 0px; }
.rsDefault:hover .rsArrowRight { margin-right: 0px; }

.rsBullet {
	position: relative;
	opacity: 0;
	bottom: -20px;
	transition: all 0.2s ease-out-out 0s;
	-webkit-transition: all 0.2s ease-out-out 0s;
	-moz-transition: all 0.2s ease-out-out 0s;
	-o-transition: all 0.2s ease-out-out 0s;
	-ms-transition: all 0.2s ease-out-out 0s;
}

.rsDefault:hover .rsBullet {
	opacity: 1;
	bottom: 0px;
}

@-webkit-keyframes fadeinS {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes fadeinS {
	from { top: -359px; opacity: 0; }
	to { top: -359px; opacity: 1; }
}

@-o-keyframes fadeinS {
	from { top: -359px; opacity: 0; }
	to { top: -359px; opacity: 1; }
}

@-ms-keyframes fadeinS {
	from { top: -359px; opacity: 0; }
	to { top: -359px; opacity: 1; }
}

.rsBullet:nth-child(999n+1) { -webkit-transition-delay: 0s !important; }
.rsBullet:nth-child(999n+2) { -webkit-transition-delay: 0.1s !important; }
.rsBullet:nth-child(999n+3) { -webkit-transition-delay: 0.2s !important; }
.rsBullet:nth-child(999n+4) { -webkit-transition-delay: 0.3s !important; }
.rsBullet:nth-child(999n+5) { -webkit-transition-delay: 0.4s !important; }
.rsBullet:nth-child(999n+6) { -webkit-transition-delay: 0.5s !important; }

.rsBullet:nth-child(999n+1) { -moz-transition-delay: 0s !important; }
.rsBullet:nth-child(999n+2) { -moz-transition-delay: 0.1s !important; }
.rsBullet:nth-child(999n+3) { -moz-transition-delay: 0.2s !important; }
.rsBullet:nth-child(999n+4) { -moz-transition-delay: 0.3s !important; }
.rsBullet:nth-child(999n+5) { -moz-transition-delay: 0.4s !important; }
.rsBullet:nth-child(999n+6) { -moz-transition-delay: 0.5s !important; }

.rsBullet:nth-child(999n+1) { -o-transition-delay: 0s !important; }
.rsBullet:nth-child(999n+2) { -o-transition-delay: 0.1s !important; }
.rsBullet:nth-child(999n+3) { -o-transition-delay: 0.2s !important; }
.rsBullet:nth-child(999n+4) { -o-transition-delay: 0.3s !important; }
.rsBullet:nth-child(999n+5) { -o-transition-delay: 0.4s !important; }
.rsBullet:nth-child(999n+6) { -o-transition-delay: 0.5s !important; }

.rsBullet:nth-child(999n+1) { -ms-transition-delay: 0s !important; }
.rsBullet:nth-child(999n+2) { -ms-transition-delay: 0.1s !important; }
.rsBullet:nth-child(999n+3) { -ms-transition-delay: 0.2s !important; }
.rsBullet:nth-child(999n+4) { -ms-transition-delay: 0.3s !important; }
.rsBullet:nth-child(999n+5) { -ms-transition-delay: 0.4s !important; }
.rsBullet:nth-child(999n+6) { -ms-transition-delay: 0.5s !important; }