html, body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  background: black;
  color: #f7f7f7;
}

a {
  color: white;
  text-decoration: underline;
  transition: color 0.25s ease;
}

a:active {
  color: white;
}

a:hover {
  color: white;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem 2rem;
}

.face img {
  border-radius: 50%;
  width: 256px;
  height: 256px;
  border: 3px solid white;
}

.info {
  margin: 2rem 0;
  text-align: center;
}

.info .hi {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.info .who {
  font-size: 1.25rem;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social .button {
  border-radius: 50%;
  padding: 0.75rem;
  background-color: transparent;
  transition: background-color 0.25s ease;
}

.social .button:not(:last-of-type) {
  margin-right: 1rem;
}

.social .button:hover {
  background-color: grey;
}

.social .button img {
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(2px);
}