html, body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3rem 5rem 2rem;
  background: radial-gradient(100% 100% at 50% 100%,#253941 0%, #101313 100%);
  color: #f7f7f7;
}

a {
  color: white;
  text-decoration: underline;
  transition: color 0.25s ease;
}

a:active {
  color: white;
}

a:hover {
  color: white;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face {
  position: relative;
  line-height: 0;
  border-radius: 99999rem;
  overflow: clip;
}

.face::before {
  content: "";
  pointer-events: none;
  user-select: none;
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
  -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
  -webkit-mask-composite: xor;
}

.face img {
  width: 256px;
  height: 256px;
}

.info {
  margin: 2rem 0;
  text-align: center;
}

.info .hi {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.info .who {
  font-size: 1.25rem;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  gap: 0.75rem;
}

.social .button {
  position: relative;
  border-radius: 4px;
  padding: 0.5rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  background-size: 100% 100%;
  opacity: 1;
  transition: 0.25s ease;
  transition-property: background-size, opacity;
}

.social .button::before {
  content: "";
  pointer-events: none;
  user-select: none;
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.07));
  mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
  mask-composite: xor;
  -webkit-mask-composite: xor;
}

.social .button:hover {
  background-size: 100% 130%;
  opacity: 0.8;
}

.social .button img {
  width: 1.5rem;
  height: 1rem;
  transform: translateY(2px);
}